html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')        
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Title

        link(rel="stylesheet", type="text/css", href="bwrcmpnts/normalize.css/normalize.css")
        link(rel="stylesheet", type="text/css", href="bwrcmpnts/font-awesome/css/font-awesome.css")

        link(rel="stylesheet", type="text/css", href="bwrcmpnts/bulma/css/bulma.css")
        link(rel="stylesheet", type="text/css", href="dist/index/styles/index.css")

        script(src="bwrcmpnts/react/react.js")
        script(src="bwrcmpnts/react/react-dom.js")
        
        script(src="bwrcmpnts/promise-polyfill/promise.js")        
        script(src="bwrcmpnts/fetch/fetch.js")


    body
        section.hero(id="navSection")
            .hero-head
                .container
                    nav.nav
                        .nav-left left part of nav
                        .nav-center center part of nav
                        .nav-right right part of nav
        section.hero(id="welcomeSection")
            .hero-head
                .container
                    div Welcome to two!
        section.hero(id="registerSection")
            .hero-body
                .container
                    .tile(class="is-ancestor")
                        .tile(class="is-parent")
                            article.tile(class="is-child") 
                                p.title Register as community
                                p.subtitle You are only few seconds away to start your community that will connect souls
                                #registerGrpForm.content
                                    script(type="text/javascript", src="dist/index/scripts/Notification.js") 
                                    script(type="text/javascript", src="dist/index/scripts/registerGrp.js") 
                        .tile(class="is-parent")
                            article.tile(class="is-child") 
                                p.title Register as an individual
                                p.subtitle Lets find your soulmate!
        section.hero(id="footerSection")
            .hero-foot 
                .container
                    div contact us